---
interface Ref {
  name: string;
  author: string;
  year: string;
  url?: string;
}

const { refs } = Astro.props as { refs: Ref[] };
---

<h2>References</h2>
<hr />
<ul>
  {
    refs.map((r) => (
      <li>
        {r.url ? (
          <a href={r.url}>
            {r.author} ({r.year}) - {r.name}
          </a>
        ) : (
          <>
            {r.author} ({r.year}) - {r.name}
          </>
        )}
      </li>
    ))
  }
</ul>

<style>
  h2 {
    font-size: 20px;
    margin-top: 20px;
    font-family: Times, serif;
  }
</style>
