---
import Infobox from "../components/infobox.astro";
import References from "../components/references.astro";
import Layout from "./layout.astro";

const { data } = Astro.props;
---

<Layout title={data.name + " - ImmunoDB"}>
  <article data-pagefind-body>
    <h1>{data.name} ({data.short})</h1>
    <hr />
    <Infobox data={data.infobox} />

    <p>{data.description}</p>
  </article>
  <References refs={data.refs} />
</Layout>

<style>
  h1 {
    font-family: Times, serif;
  }
  hr {
    margin-bottom: 20px;
  }
  li {
    list-style: none;
  }
  span {
    font-weight: 600;
  }

  @media (min-width: 320px) {
    article {
      overflow: hidden;
    }
  }

  @media (min-width: 900px) {
    article {
      overflow: auto;
      font-size: 14px;
    }
  }
</style>
